@import url('https://fonts.googleapis.com/css?family=Open+Sans|Passion+One');
html,
body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
}

#header {
    background: url('../img/header.jpg');
    color: white;
    flex-basis: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 200px;
}

#header h1 {
    margin: 0;
    padding: 0;
    font-family: 'Passion One', cursive;
    font-size: 60px;
    font-weight: normal;
}

#nav,
#nav li {
    list-style: none;
    margin: 0;
    padding: 0;
}

#nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    overflow: hidden;
    min-height: 45px;
}

#nav a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    color: white;
}

#nav a:hover {
    background-color: #000;
    text-decoration: underline;
}

#content {
    max-width: 1400px;
    padding: 0 20px;
    margin: 0 auto;
    flex-grow: 1;
}

#footer {
    text-align: center;
    padding: 20px;
    background-color: #eee;
    border: 1px solid #ccc;
    margin: 0;
}

h4 {
    margin-top: 0;
}

.row {
    display: flex;
    margin-bottom: 10px;
}

.col-1,
.col-2 {
    padding: 10px;
}

.col-1 {
    flex: 1;
    border-right: 3px solid rgba(0, 0, 0, 0.05)
}

.col-2 {
    flex: 5;
}

label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

.form-group {
    margin-bottom: 1rem;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

textarea.form-control {
    height: auto;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    margin-bottom: 10px;
}