html,
body {
    height: 100%;
}

a {
    color: #fff;
}

#header {
    width: 100%;
}

#main {
    flex: 1;
}

#main>.row,
#main-menu {
    height: 100%;
}

#main>.row {
    margin-right: 0;
}

#main-menu .nav-link {
    color: #fff:
}

#main-menu .nav-link.active {
    background-color: #343a40;
}

#content {
    padding-top: 20px;
}

trix-editor {
    min-height: 400px;
}